.shiny-text {
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.15) 40%,
    rgba(255, 255, 255, 0.95) 50%,
    rgba(255, 255, 255, 0.15) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  animation: shine 3s linear infinite;
}

.shiny-text.disabled {
  background: none;
  -webkit-background-clip: initial;
  background-clip: initial;
  color: inherit;
  animation: none;
}

@keyframes shine {
  0% {
    background-position: 120%;
  }
  100% {
    background-position: -20%;
  }
}
